<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="TestListeners.CustomListener"/>
         <listener class-name="TestListeners.MyTransformer"/>
        <listener class-name="TestListeners.ExtentReportListener"/>
    </listeners>
    <test thread-count="2" name="PodPointPriceTest">
        <classes>
            <class name="TestRunner.PodPointRunner"/>
        </classes>

    </test> 
</suite> <!-- TestSuite -->